@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
body {
    font-family: "Amiri", serif;
    background-image: url('~/Images/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bn31 {
    background-image: linear-gradient(to right,rgb(141, 121, 231) 30%, rgb(13, 5, 51) 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: white;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 8em;
    z-index: 2;
    margin-top: 30px;
}

    .bn31:hover {
        color: darkcyan;
        background-image: linear-gradient(to right,rgb(251, 250, 252) 0%, rgb(248, 248, 250) 100%);
    }

label {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

select {
    border-style: solid;
    height: 37px;
    font-size: 18px;
    width: 95%;
    border-radius: 10px;
}
