@model EducationPlatform_GraduationProject.ViewModels.ContentWithDetails
@{
    ViewData["Title"] = "Create New Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
    {
    <title>إضافـــة محتــوي جديد</title>
    <style>
        body {
            background-image: url(../../Images/backg.jpg);
        }

        input {
            border: 1px solid black !important;
        }
    </style>
}

<div class="d-flex align-items-center justify-content-center" style="margin-top:4.5rem;">
    <h4 class="text-primary" style="font-size: 5rem;
        text-transform: uppercase;
        font-family: 'Amiri', serif;
        letter-spacing: -3px;
        transition: 700ms ease;
        font-variation-settings: 'wght' 311;
        margin-bottom: 0.8rem;
        text-align: center;">
        إضافة محتوي جديد
    </h4>
</div>
<div class="row d-flex align-items-center justify-content-center">
    <div class="row bg-light  d-flex align-items-center justify-content-center w-50 border border-3 border-primary rounded rounded-5 ">
        <div class="col-md-10">
            <form asp-controller="Third" asp-action="CreateContent">
                <div class="form-group has-success">
                    <label asp-for="ClassIdfk" class="control-label mb-2 mt-3 text-primary" style="float:right; font-weight: bold;">
                        الصف الدراسي
                    </label>
                    <select asp-for="ClassIdfk" style="float: right; width: 100%;height: 2.5rem;font-weight: 600;border-radius: 7px;">
                        <option value="1">الصف الاول الثانوي </option>
                        <option value="2">الصف الثاني الثانوي </option>
                        <option value="3" selected>الصف الثالث الثانوي </option>
                    </select>
                    <span asp-validation-for="ClassIdfk" class="text-danger"></span>
                </div>

                <div class="form-group has-success">
                    <label class="form-label mt-3 mb-2 mb-2 text-primary" for="Title" style="float:right; font-weight: bold;">
                        عنوان
                        المحاضرة
                    </label>
                    <input type="text" class="form-control" id="Title" asp-for="Title" required>
                </div>

                <div class="form-group" id="Images">
                    <div>
                        <label asp-for="Images" class="control-label  mt-3 mb-2 mb-2 text-primary w-75 ">
                            <span style="float: right; font-weight: bold;">إضافة صورة </span>
                        </label>
                        <button type="button" id="imagebtn" onclick="removeImage()" disabled class="btn btn-danger mt-2"
                                style="width: 10%; float: left;">
                            -
                        </button>
                        <button type="button" id="BtnAddImage" class="btn btn-primary mt-2"
                                style="width: 10%; float: left; margin-left: 1rem;" onclick="AddImages()">
                            +
                        </button>
                    </div>
                    <input asp-for="Images[0]" class="form-control"
                           style="float: right; width: 100%; text-align: right;" placeholder="ادخل رابط الصورة " />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>

                <div class="form-group" id="Videos">
                    <div>
                        <label asp-for="Videos" class="control-label  mt-3 mb-2 mb-2 text-primary w-75">
                            <span style="float: right; font-weight: bold;">إضافة فيديو</span>
                        </label>

                        <button type="button" id="videobtn" onclick="removeVideo()" disabled class="btn btn-danger mt-2"
                                style="width: 10%; float: left;">
                            -
                        </button>
                        <button type="button" id="BtnAddVideo" class="btn btn-primary mt-2"
                                style="width: 10%; float: left; margin-left: 1rem;" onclick="AddVideo()">
                            +
                        </button>
                    </div>
                    <input asp-for="Videos[0]" class="form-control"
                           style="float: right; width: 100%; text-align: right;" placeholder="ادخل رابط الفيديو " />
                    <span asp-validation-for="Videos" class="text-danger"></span>
                </div>

                <div class="form-group" id="PDFs">
                    <div>
                        <label asp-for="Pdfs" class="control-label  mt-3 mb-2 text-primary w-75">
                            <span style="float: right; font-weight: bold;">إضافة ملف</span>
                        </label>
                        <button type="button" id="PDFbtn" onclick="removePDF()" disabled class="btn btn-danger mt-2"
                                style="width: 10%; float: left;">
                            -
                        </button>
                        <button type="button" id="BtnAddPDF" class="btn btn-primary mt-2"
                                style="width: 10%; float: left; margin-left: 1rem;" onclick="AddPDF()">
                            +
                        </button>


                    </div>
                    <input asp-for="Pdfs[0]" class="form-control"
                           style="float: right; width: 100%; text-align: right;" placeholder="ادخل رابط الملف  " />
                    <span asp-validation-for="Pdfs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="إضافـــــــــــــــــة" class="btn btn-primary w-100 mt-3 mb-2 fw-bold" />
                    <input type="button" asp-action="Index" value="رجــــــــــــــــــوع" class="btn btn-primary w-100 mt-3 mb-2 fw-bold" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/addContent.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
}