@model IEnumerable<EducationPlatform_GraduationProject.ViewModels.ContentVM>
@*<div class="container">*@
@section Head
{
    <style>
        body {
            background-image: url('../../Images/background2.jpg');
            /*background-image: url('/Chemistry.jpg.thumb.1280.1280.jpg');*/
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .chatbtn {
            font-size: 80px;
            color: #007bff;
        }

        .ro {           
            width: 100%;
            height: auto;
            z-index: 3000;
        }

        .n {
            padding: 1em 2em;
            border: none;
            border-radius: 5px;
            font-weight: bold;            
            text-transform: uppercase;
            color: #2c9caf;
            transition: all 1000ms;
            font-size: 15px;
            position: relative;
            overflow: hidden;
            outline: 2px solid #2c9caf;
        }

            .n:hover {
                color: #ffffff;
                transform: scale(1.1);
                outline: 2px solid #70bdca;
                box-shadow: 4px 5px 17px -4px #268391;
            }

            .n::before {
                content: "";
                position: absolute;
                left: -50px;
                top: 0;
                width: 0;
                height: 100%;
                background-color: #2c9caf;
                transform: skewX(45deg);
                z-index: -1;
                transition: width 1000ms;
            }

            .n:hover::before {
                width: 250%;
            }
    </style>
}
<input type="text" id="userInput" hidden />
<input type="text" id="userInputName" value="@User.Identity.Name" hidden />

<div class="row ro" style="margin-top:2rem;">
<div class="row p-1">
    <div class="col-md-2" id="addbtn">
            <button class="btn btn-primary" id="showButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" style="border-radius:30px;margin-top:4rem !important ; width:10rem; background-color:darkcyan !important;border-color:white;font-weight:600; font-size:1.5rem;">المحادثات</button>           
    </div>
        <div class="col-md-2">
            <a class="btn btn-primary" style="border-radius:30px;margin-top:4rem !important ; width:11rem; background-color:darkcyan !important;border-color:white;font-weight:600; font-size:1.5rem;" asp-action="GetAllStudent" asp-controller="Teacher" asp-route-id="3">إدارة الطلاب</a>
        </div>

        <div class="col-md-2">
            <a class="btn btn-primary" style="border-radius:30px;margin-top:4rem !important ; width:11rem; background-color:darkcyan !important;border-color:white;font-weight:600; font-size:1.5rem;" asp-action="CreateContent" asp-controller="Third">إضافة محتوي جديد</a>
        </div>
        <div class="col-md-4 mt-5" style="margin-right:5rem;">
           
            <button type="button" class="btn text-light" id="showbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border-radius:30px;margin-top:1rem;width:10rem;margin-right:-4rem; background-color:darkcyan;border-color:white; font-weight:600; font-size:1.5rem;">بدء الإجتماع</button>
        </div>
        <div class="row p-1" style="margin-top:6rem;">
            @*Start viewdata*@

            @{
                if (TempData["CreateContent"] != null)
                {
                    <div class="alert alert-dismissible alert-success" style="width:50%; margin-right:20%;height:67px;font-size:25px;color:white; text-align:center; background-color:darkcyan !important;">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        تم إضافة المحتوى بنجاح .
                    </div>
                }
                if (TempData["UpdateContent"] != null)
                {
                    <div class="alert alert-dismissible alert-success" style="width:50%; margin-right:20%;height:67px;font-size:25px;color:white; text-align:center; background-color:darkcyan !important;">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        تم تعديل بيانات المحتوى بنجاح .
                    </div>
                }

                if (TempData["DeletedContent"] != null)
                {
                    <div class="alert alert-dismissible alert-success" style="width:50%; margin-right:20%;height:67px;font-size:25px;color:white; text-align:center; background-color:darkcyan !important;">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        تم حذف المحتوى بنجاح.
                    </div>
                }

            }

            @*End viewdata*@
            <div class="col-md-10  d-flex flex-column justify-content-center align-items-center">        
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="card text-dark border-primary my-2 mx-1 " style="max-width: 40rem; width: 40rem;">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: right;"> العنوان : @item.Title </h5>
                                <hr>
                                <h6 class="card-text" style="text-align: right;">  تاريخ المحاضرة : @item.Date.ToString("dd/MM/yyyy hh:mm tt")  </h6>
                            </div>
                            <hr>
                            <a href="~/Third/Details/@item.Id" class="btn btn-primary" style="font-weight: bold;font-size: larger;"> عرض التفاصيل</a><hr>
                            <a href="~/Third/Edit/@item.Id" class="btn btn-success" style="font-weight: bold;font-size: larger;">تعديل المحتوى</a><hr>
                            <a href="~/Third/DeleteContent/@item.Id" class="btn btn-danger" style="font-weight: bold;font-size: larger;">حذف المحتوى</a>
                        </div>
                    }
                }
                else
                {
                    <div class="mt-5 d-flex align-items-center justify-content-center border border-5 border-primary" style="height: 14rem; width: 60rem; margin-right: 10%; background-color: #04639c; border-radius: 8rem 0 8rem 0;">
                        <h1 class="display-2 fw-bold text-white">لا يوجد محتوي الآن </h1>
                    </div>
                }
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                        <button type="button" class="btn-close" id="endbtn1" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id='jitsi-container'></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="endbtn" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
            <button type="button" class="btn-close" id="closebtn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <partial name="~/Views/Chat/Index.cshtml" />
        </div>
    </div>
 </div>
 </div>
@section Scripts{
    <script src="https://meet.jit.si/external_api.js"></script>
    <script>

        var domain = "meet.jit.si";
        var options = {
            roomName: "thirdyearstudent",
            width: '100%',
            height: '30em',
            parentNode: document.querySelector('#jitsi-container'),
            configOverwrite: {
                prejoinPageEnabled: false,
                startWithAudioMuted: true,
                startWithVideoMuted: 10,
                toolbarButtons: [
                    'camera',
                    'chat',
                    'closedcaptions',
                    'desktop',
                    'download',
                    'etherpad',
                    'feedback',
                    'filmstrip',
                    'fullscreen',
                    'highlight',
                    'linktosalesforce',
                    'microphone',
                    'participants-pane',
                    'profile',
                    'raisehand',
                    'security',
                    'select-background',
                    'settings',
                    'tileview',
                    'toggle-camera',
                    'videoquality',
                    'whiteboard',
                    'recording',
                ],
                enforceModerator: true,
                enableKickOutAll: true,
                subject: 'الصف الثالث الثانوي',
                userInfo: {
                    email: '@User.Identity.Name',

                    displayName: `@User.Identity.Name`,
                }
            },
            interfaceConfigOverwrite: {
                TOOLBAR_ALWAYS_VISIBLE: false,
                SHOW_CHROME_EXTENSION_BANNER: false,
                DEFAULT_LOCAL_DISPLAY_NAME: `@User.Identity.Name`,

            }
        }
        document.getElementById('showbtn').addEventListener('click', function (event) {

            document.getElementById('endbtn').hidden = false;
            document.getElementById('showbtn').hidden = true;
            var api = new JitsiMeetExternalAPI(domain, options);
        });
        document.getElementById('endbtn').addEventListener('click', function (event) {

            document.getElementById('endbtn').hidden = true;
            document.getElementById('jitsi-container').innerHTML = `<span></span>`;
            document.getElementById('showbtn').hidden = false;
            var api = 'new JitsiMeetExternalAPI(domain, options)';
        });
        document.getElementById('endbtn1').addEventListener('click', function (event) {

            document.getElementById('endbtn1').hidden = true;
            document.getElementById('jitsi-container').innerHTML = `<span></span>`;
            document.getElementById('showbtn').hidden = false;
            var api = 'new JitsiMeetExternalAPI(domain, options)';
        });
    </script>
}