@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*asp - area = "Identity" title = "Manage"*@
        <li class="nav-item mx-2">
            <a class="nav-link Nav-Links" style="color:white !important; font-size:1.2rem !important;">مرحبا @User.Identity?.Name</a>
        </li>
        <li class="nav-item mx-2">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" style="font-weight: bold !important;font-size: 1rem;" class="nav-link btn btn-link text-light">تسجيل الخروج</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item mx-2">
            <a class="nav-link Nav-Links" style="color:white !important; font-size:1.2rem !important;" asp-area="Identity" asp-page="/Account/Login">تسجيل الدخول</a>
        </li>
    }
</ul>