@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@section Head
    {
    <style>
        body {
            background-image: url('../../../../Images/login.jpg');            
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<div class="container1">

    <div class="row" style="margin-top:6rem;">
        <div class="box" style="border: 2px solid darkcyan;">
            <h1>تسجيل الدخول</h1>
            <form id="account" method="post">                
                <label asp-for="Input.Email" class="label1">إسم المستخدم</label>
                <div class="divCss">
                    <i class="fa-solid fa-user"></i>
                    <input asp-for="Input.Email" class="inputCss" style="direction:ltr; font-weight:bold;"  aria-required="true" placeholder=" إسم المستخدم" required />
                    @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                </div>
                <br />
                <label asp-for="Input.Password" class="label2">كلمة المرور</label>
                <div class="divCss">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" asp-for="Input.Password" style="direction:ltr;font-weight:bold;" class=" inputCss" aria-required="true" placeholder="كلمة المرور" required />
                    @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                </div>
                <div>
                        
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="label2"><input class="form-check-input" asp-for="Input.RememberMe" style="margin-right:5px" /> تذكرني ؟ </label>
                        
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" style="color:red !important"></div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary lgnBtn">تسجيل الدخول</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://kit.fontawesome.com/79828b7d1d.js" crossorigin="anonymous"></script>

}   